<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>LOGO</h1>
            <section id="menuHamburger">
                <div id="line1"></div>
                <div id="line2"></div>
                <div id="line3"></div>
              </section>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <section id="text">
                <h1>PAGE 404</h1>
                <h2>OOPSS! Nothing here</h2>
                <p>Maybe you can find what you need here:</p>
                <button><a href="#">HOME</a></button>
            </section>
    
            <section id="img">
                <img src="/css/undraw_road_sign_mfpo.svg" alt="lostImage">
            </section>
        </div>
    </main>
</body>
</html>